@import "tailwindcss";



@theme {
  --color-background: #131110;
  --color-foreground: #EAE8E6;
}

@layer base {
  * {
    border-color: rgba(234, 232, 230, 0.14);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    overflow-x: hidden;
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}
